<div class="header">
  <h1>Results for <%= @state %> in <%= @year %></h1>
</div>

<div class="form">
  <p>View Another State:</p>
  <%= form_tag("/display", method: "get") do %>
    <%= select_tag :state, options_for_select(@us_states), class: 'dropdown' %>
    <%= select_tag :year, options_for_select(@years), class: 'dropdown' %>
    <%= submit_tag("Search", class: 'button') %>
  <% end %>
  <p>or</p>
<%= button_to("Go Home", root_path, method: "get", class: "button") %>
</div>

  <div class="donut_holder">
    <div id='container'></div>
  </div>

