<!DOCTYPE html>
<html>
<head>
  <title>Vizvolt</title>
  <%= favicon_link_tag '/images/vizvolt.ico' %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Aldrich">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <h1>Welcome To VizVolt</h1>
  <h2>A Data Visualization of Electrical Power Generation by Fuel Source</h2>
</header>
<%= yield %>

</body>
</html>

